<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Estos son los nuevos permisos para implementar Vuforia -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <!-- AR y cámara requeridas -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="App_Booklet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Booklet"
        tools:targetApi="31">

        <meta-data
            android:name="com.vuforia.engine.API_KEY"
            android:value="ASofy4f/////AAABmeVZJeE4dUBVtDmgCrj+FOyJfcgchpkb2VEK+OuOSp21dN1bPlFLyvJCZWgomm+t2X1Xv39yKZkK3I8yfbtBKpYep0VTXzzrxeVGEkPGBW2r4eXXUI5jMSkox0i8oSR+B7a8D0P8hbmd2gKFexdBnUXezknK7gNZdyLUi7ubWYRcf/O5lMnRbV1yOVM/oEsMOnNpnuF5JZdTo7qI7+xeOv6aGvX1U7ogYhkoOeU+eYv2Hk0a38alyjIITW7Q0t5f6Pk0YnaLARHKEPO8ajeujZJ6d3Q7z+Qk8tvd6x+DCZ81TbwlIhjaIdWhJac9wIReHIXCJmbPXYe9ihR+bUussL+2Zb6lb/QqvpUVpKUVitJw" />


        <!-- Indica que la app requiere ARCore
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional"
            tools:replace="android:value"/> -->

        <activity
            android:name=".ArActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ModelsActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />


        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>